@charset "UTF-8";

*{font-family: "맑은 고딕";}
*{font-size: 17px;}

h2{font-size: 25px;}
h3{font-size: 20px;}

#title{font-family: 궁서;
        font-size: 30px;
        letter-spacing: 15px;
}

.a{text-decoration: none;
    color: none;}

.internet{font-style: italic;
        font-weight: bold;
        color: #0000ff;
}

.sea {font-style: italic;
    font-weight: bold;
    color: #ff0000;
}

#int-un{text-decoration: underline;
        color: #00ff00;
}

#milnet{font-weight: bold;
        color: #ff0000;
}

#int-num{text-decoration: underline;}

#history-all{background-color: #d9d9d9;}

#history-all p{text-indent: 30px;}

#kind{font-weight: bold;
    color: #00ff00;
}

#act{font-style: italic;
    color: #0000ff;
}

#cha{font-weight: bold;
    color: #ff0000;    
}

ul{list-style-type: square;}

ol{list-style-type: none;}

a:link{color: #ffffff;
        text-decoration: none;
}
a:visited{color: #ffffff;}
a:hover{color: #0000ff;
        text-decoration: underline;
}
a:active{color: #0000ff;
        text-decoration: underline;
}

table>tbody>tr:hover{background-color: #edd3ed;} 
table>thead>tr{background-color: #c8ebfa;}

.right{text-align: right;}
.right::before{content: "약 ";}
.right::after{content: " (MB/초)";}

