@charset "UTF-8";

/* aside */
#aside h2 {
    width: 100%;
    height: 60px;
    background-color: #ddd;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
}

#aside ul>li {
    margin-top: 5px;
    padding: 8px 0px 8px 10px;
    border: 1px solid #a6a6a6;
    font-size: 15px;
}


#main #title {
    box-sizing: border-box;
    width: 800px;
    float: left;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

#main #title h3 {
    float: left;
    font-size: 20px;
    padding: 10px 0 0 0;
    font-weight: bold;
}

#main #title ol {
    float: right;
    margin-top: 14px;
}

#main #title ol>li {
    float: left;
}

#main  #title ol>li::after {
    content: ">";
    margin: 0px 10px 0px 10px;
}

#main #title ol>li:last-child::after {
    content: "";
    margin-right: 0px;
}

/* 검색창 */
#main #search {
    float: right;
    font-size: 17px;
    text-align: right;
    margin: 20px 0px 3px 0px;
}

#main #bar {
    border-radius: 3px;
    width: 150px;
    height: 27px;
}

#main button{
    background-color: #f0f1f1;
    padding: 2px 15px;
    border: 1px solid #6d6d6d;
    border-radius: 3px;
    text-align: center;
}

/* 테이블 */
#main #board-table {
    float: right;
    text-align: center;
}

#main #board-table thead {
    background-color: #dadada;
    border-top: 2px double #8f8f8f;
    border-bottom: 2px double #8f8f8f;
    height: 40px;
}

#main #board-table tbody tr{
    height: 40px;
    border-bottom: 1px solid #8f8f8f;
}

#main #board-table tbody .txt-left {
    text-align: left;
}

/* 순서바 */
#main #num {
    margin-left: 150px;
}

#main #num ol>li {
    float: left;
    padding: 15px;
}

#main #num ol>li:first-child::before{
    content: "◀";
    padding-right: 15px;
}

#main #num ol>li:last-child::after{
    content: "▶";
    padding-left: 15px;
}

/* 글쓰기버튼 */
#main #btn-write {
    float: right;
    font-size: 18px;
    margin-bottom: 20px;
}


/* ------------------------------------------------------------- */
/* read.html */ 
#main #contents3 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

#main #contents3 ol>li{
    padding-top: 20px;
}

#main #contents3 #info-head {
    float: left;
    margin-right: 50px;

}

#main #contents3 #info-content {
    float: left;
}

#main #info-text {
    width: 800px;
    border-bottom: 1px solid #ddd;
    padding: 20px 0px 20px 5px;
}

/* 목록 수정버튼 */
#main #btn-two {
    float: right;
    font-size: 18px;
    margin-bottom: 20px;
    padding-top: 10px;
}


/* ------------------------------------------------------------- */
/* write.html */ 
#main #title-bar {
    width: 723px;
    margin-left: 35px;
}

#main #title-write {
    float: left;
    margin-top: 20px;
}

#main #title-textarea {
    width: 798px;
    height: 400px;
    margin-top: 20px;
}


/* ------------------------------------------------------------- */
/* modify.html */ 
#main #title-print {
    width: 698px;
}



/* ------------------------------------------------------------- */
/* gallery.html */ 
#main #btn-image {
    float: right;
}

#main #btn-image button{
    width: 130px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 8px 13px;
    border: 1px solid gray;
    border-radius: 3px;
    cursor: pointer;
}

#main #gallery-image {
    float: left;
}

#main #gallery-image li {
    float: left;
    margin: 3px;
    padding: 0px 5px;
    border: 1px solid #6d6d6d;
}

#main #gallery-image img {
    width: 150px;
}


/* ------------------------------------------------------------- */
/* register.html */ 
/* 방명록 */
#main #guest-info {
    float: left;
    margin: 15px 0px 35px 0px;
}

#main #guest-info table tr>th{
    border: 1px solid #6d6d6d;
    padding: 5px 30px 5px 2px;
}

#main #guest-info table tr>td{
    border: 1px solid #6d6d6d;
}


#main #guest-info input[type="text"] {
    margin: 3px 3px;
    vertical-align: middle;     
    width: 310px;
    height: 18px;
}

#main #guest-info input[type="password"] {
    margin: 3px 3px;
    vertical-align: middle;     
    width: 310px;
    height: 18px;
}

#main #guest-info table #register-write {
    width: 800px;
    height: 150px;
    margin: 4px;
}

#main #guest-info table #btn-register {
    width: 110px;
    margin: 5px 0px 5px 350px;
    padding: 5px 15px;
    border: 1px solid gray;
    border-radius: 3px;
    cursor: pointer;
}


/* 히스토리 */
#main #guest-history {
    float: left;
    margin-bottom: 10px;
}

#main #guest-history table {
    margin-bottom: 15px;
}

#main #guest-history table tr>th{
    border: 1px solid #6d6d6d;
}

#main #guest-history table tr>td{
    border: 1px solid #6d6d6d;
    padding: 10px;
}
