<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>게시판</title>

        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/board.css">

        <style>

        </style>
    </head>

    <body>
        <div id="wrap">

            <!-- 헤더 -->
            <div id="header" class="clearfix">
                <!-- 로고 -->
                <h1>MySite</h1>

                <!-- 로그인관련버튼 -->
                <ul class="clearfix">
                    <li>
                        <a href="#">로그인</a>
                    </li>
                    <li>
                        <a href="#">회원가입</a>
                    </li>
                </ul>
            </div>
            <!-- //헤더끝 -->


            <!-- 네비(상단메뉴 GNB(글로벌 네이게이션바)) -->
            <div id="nav">
                <ul class="clearfix"> 
                    <li>입사지원서</li>
                    <li>게시판</li>
                    <li>갤러리</li>
                    <li>방명록</li>
                </ul>
            </div> 
            <!-- //네비(상단메뉴 GNB) 끝 -->
            

            <!-- 컨텐츠 -->
            <div id="contents2" class="clearfix">

                <!-- aside -->
                <div id="aside">
                    <h2>게시판</h2>

                    <ul>
                        <li>일반게시판</li>
                        <li>댓글게시판</li>
                    </ul>
                </div>
                <!-- //aside 끝 -->

                <!-- 메인 -->
                <div id="main">

                    <!-- 위에부분 -->
                    <div id="title">
                        <h3>일반게시판</h3>

                        <ol>
                            <li>홈</li>
                            <li>게시판</li>
                            <li>일반게시판</li>
                        </ol>
                    </div>
                    <!-- //위에부분 끝 -->

                    <!-- 검색창 -->
                    <div id="search" class="clearfix">
                        <input id="bar" type="text" name="" value="">
                        <button>검색</button>
                    </div>

                    <!-- 테이블 -->
                    <div class="clearfix">
                        <table id="board-table">
                            <colgroup>
                                <col style="width: 80px;">
                                <col style="width: 330px;">
                                <col style="width: 70px;">
                                <col style="width: 150px;">
                                <col style="width: 200px;">
                                <col style="width: 100px;">
                            </colgroup>
                
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>제목</th>
                                    <th>글쓴이</th>
                                    <th>조회수</th>
                                    <th>작성일</th>
                                    <th>관리</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>123</td>
                                    <td class="txt-left"><a href="">게시판 게시글입니다.</a></td>
                                    <td>정우성</td>
                                    <td>1232</td>
                                    <td>2020-12-23</td>
                                    <td>[삭제]</td>
                                </tr>
                                <tr>
                                    <td>123</td>
                                    <td class="txt-left"><a href="">게시판 게시글입니다.</a></td>
                                    <td>정우성</td>
                                    <td>1232</td>
                                    <td>2020-12-23</td>
                                    <td>[삭제]</td>
                                </tr>
                                <tr>
                                    <td>123</td>
                                    <td class="txt-left"><a href="">게시판 게시글입니다.</a></td>
                                    <td>정우성</td>
                                    <td>1232</td>
                                    <td>2020-12-23</td>
                                    <td>[삭제]</td>
                                </tr>
                                <tr>
                                    <td>123</td>
                                    <td class="txt-left"><a href="">게시판 게시글입니다.</a></td>
                                    <td>정우성</td>
                                    <td>1232</td>
                                    <td>2020-12-23</td>
                                    <td>[삭제]</td>
                                </tr>
                                <tr>
                                    <td>123</td>
                                    <td class="txt-left"><a href="">게시판 게시글입니다.</a></td>
                                    <td>정우성</td>
                                    <td>1232</td>
                                    <td>2020-12-23</td>
                                    <td>[삭제]</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- //테이블 끝 -->


                    <!-- 순서바 -->
                    <div id="num" class="clearfix">
                        <ol>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                            <li>8</li>
                            <li>9</li>
                            <li>10</li>
                        </ol>
                    </div>
                    <!-- //순서바 끝 -->
                    

                    <!-- 글쓰기버튼 -->
                    <div id="btn-write">
                        <button>글쓰기</button>
                    </div>
                    <!-- //글쓰기버튼 끝 -->
                    

                </div>
                <!-- //메인 끝 -->

            </div>
            <!-- //컨텐츠 끝 -->


            <!-- 푸터 -->
            <div id="footer">
                <p>copyright ⓒ 2024 이다현. All right reserved</p>
            </div>
            <!-- //푸터끝 -->
            
        </div>
    </body>
</html>