<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>게시판</title>

        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/login.css">

        <style>

        </style>
    </head>

    <body>
        <div id="wrap">

            <!-- 헤더 -->
            <div id="header" class="clearfix">
                <!-- 로고 -->
                <h1>MySite</h1>

                <!-- 로그인관련버튼 -->
                <ul class="clearfix">
                    <li>
                        <a href="#">로그인</a>
                    </li>
                    <li>
                        <a href="#">회원가입</a>
                    </li>
                </ul>
            </div>
            <!-- //헤더끝 -->


            <!-- 네비(상단메뉴 GNB(글로벌 네이게이션바)) -->
            <div id="nav">
                <ul class="clearfix"> 
                    <li>입사지원서</li>
                    <li>게시판</li>
                    <li>갤러리</li>
                    <li>방명록</li>
                </ul>
            </div> 
            <!-- //네비(상단메뉴 GNB) 끝 -->
            

            <!-- 컨텐츠 -->
            <div id="contents2" class="clearfix">

                <!-- aside -->
                <div id="aside">
                    <h2>회원</h2>

                    <ul>
                        <li>회원정보</li>
                        <li>로그인</li>
                        <li>회원가입</li>
                    </ul>
                </div>
                <!-- //aside 끝 -->

                <!-- 메인 -->
                <div id="main">

                    <!-- 위에부분 -->
                    <div id="title">
                        <h3>회원가입</h3>

                        <ol>
                            <li>홈</li>
                            <li>회원</li>
                            <li>회원가입</li>
                        </ol>
                    </div>
                    <!-- //위에부분 끝 -->

                    <!-- 가운데 -->
                    <div id="login-form" class="clearfix">
                        <div class="form-group">
                            <label class="form-text" for="txt-title">아이디</label>
                            <input id="txt-title" type="text" name="" value="" placeholder="아이디를 입력하세요">
                            <button type="button">중복체크</button>
                        </div>
            
                        <div class="form-group">
                            <label class="form-text" for="txt-pw">패스워드</label>
                            <input id="txt-pw" type="password" name="" value="" placeholder="비밀번호를 입력하세요">
                        </div>
            
                        <div class="form-group">
                            <label class="form-text" for="txt-name">이름</label>
                            <input id="txt-name" type="text" name="" value="" placeholder="이름을 입력하세요">
                        </div>
            
                        <div class="form-group">                        
                        <span class="form-text">성별</span>
                        <label for="rdo-man">남</label>
                        <input id="rdo-man" type="radio" name="gender" value="">

                        <label for="rdo-woman">여</label>
                        <input id="rdo-woman" type="radio" name="gender" value="">
                        </div>

                        <div class="form-group">
                            <span class="form-text">약관동의</span>
            
                            <input type="checkbox" name="" value="">
                            <label>서비스 약관에 동의합니다.</label>
                        </div>

                        <div id="btn-join">
                            <button type="submit">회원가입</button>
                        </div>

                    </div>
                    <!-- //가운데 끝 -->
                    

                </div>
                <!-- //메인 끝 -->

            </div>
            <!-- //컨텐츠 끝 -->


            <!-- 푸터 -->
            <div id="footer">
                <p>copyright ⓒ 2024 이다현. All right reserved</p>
            </div>
            <!-- //푸터끝 -->
            
        </div>
    </body>
</html>